body{
    overflow-x:hidden;
}
.wrapper {
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.wrapper.toggled-left {
    padding-left: 200px;
}
.wrapper.toggled-right {
    padding-right: 200px;
}
.sidebar{
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sidebar-left{
    left: 200px;
    margin-left: -200px;
}
.sidebar-right{
    right: 200px;
    margin-right: -200px;
}
.wrapper.toggled-left .sidebar-left {
    width: 200px;
}
.wrapper.toggled-right .sidebar-right {
    width: 200px;
}
.page-content {
    width: 100%;
    position: absolute;
    margin-bottom: 60px;
}
.wrapper.toggled-left .page-content {
    margin-right: -200px;
    margin-bottom: 60px;
}

@media(min-width:768px) {
    .wrapper {
        padding-left: 200px;
    }
    .wrapper.toggled-left {
        padding-left: 0;
    }
    .wrapper .sidebar-left {
        width: 200px;
    }
    .wrapper.toggled-left .sidebar-left {
        width: 0;
    }
    .page-content {
        position: relative;
        margin-bottom: 60px;
    }
    .wrapper.toggled-left .page-content {
        position: relative;
        margin-right: 0;
        margin-bottom: 60px;
    }
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}
