<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title></title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/fontawesome/4.7.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css?v={time}(time=${#dates.createNow()})}" />

    <script type="text/javascript" th:src="@{/webjars/angularjs/1.6.4/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angularjs/1.6.4/angular-resource.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angular-ui-router/1.0.3/angular-ui-router.min.js}"></script>

</head>
<body>

<h1>Hello, Welcome to Smart Home</h1>

<footer>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.11.1/dist/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.js?v={time}(time=${#dates.createNow()})}"></script>
</footer>
</body>

</html>